.auth-container {
  max-width: 420px;
  margin: 0 auto;
  padding-top: 90px;
  text-align: center;
}

img{
  width: 300px;
  margin-bottom: -30px;
  margin-top: -50px;
}

h1 {
  font-size: 2.4rem;
  font-weight: 900;
  margin-bottom: 8px;
  color: var(--ion-color-primary);
}

p {
  color: var(--ion-color-medium);
  margin-bottom: 28px;
}

ion-item {
  margin-bottom: 14px;
}

ion-button {
  margin-top: 12px;
}