<ion-content class="ion-padding">
  <div class="auth-container">
    <img src="assets/logo.png" alt="Logo Learnlytics" class="auth-logo" />
    <h1>Crear cuenta</h1>
    <p>Empieza a analizar tus hábitos de estudio</p>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="register()" class="ion-margin-top">
      Registrarse
    </ion-button>

    <ion-button expand="block" fill="clear" routerLink="/login">
      Ya tengo cuenta
    </ion-button>

    <ion-text color="danger" *ngIf="errorMessage">
      <p>{{ errorMessage }}</p>
    </ion-text>

    <ion-text color="success" *ngIf="successMessage">
      <p>{{ successMessage }}</p>
    </ion-text>
  </div>
</ion-content>